.card-container {
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: 15px;
  font-weight: 700;
  border-radius: 15px;
  cursor: pointer;
  background-color: #919190;
  padding: 10px;
  font-family: "Lucida Sans", sans-serif;
  transition: transform 0.5s ease;
  width: 11em;
  height: auto;
  margin: 10px;
  border: 1px solid #eb1212;
  
}

.card-titulo {
  display: flex;
    font-size: 15px;
    font-weight: 700;
    color: #050000;

    font-family: "Lucida Sans", sans-serif;
    width: auto;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card-corpo {
  font-size: 10px;
  font-style: italic;
  font-weight: 700;
  text-align: justify;
  color: #050000;
  font-family: "Lucida Sans", sans-serif;
  margin: 0px;
  height: 160px;
  width: auto;
}



img {
  width: 50%;
}

.card-pedido {
  
  background-color: #c1b6b6;
  border-radius: 10px;
 
}

.card-link {
 
  font-size: 13px;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-family: "Lucida Sans", sans-serif;
  transition: transform 0.3s ease;
  width: 40%;
  text-align: right;
  justify-content: center;
}

.expand-img {
  width: 500%;
  height: 100%;
}
.card-container:hover {
  transform: scale(1.1);
}

.card-image {
  width: 200px;
  height: auto;
}

.card-text-container {
  margin-top: 10px;
}

.card-text {
  color: #333;
  font-size: 16px;
}
