.topo {

  display: flex;
  align-items: center;
  background-color: rgb(4, 4, 4);
  height: 100px;
 overflow-x: hidden;
width: 100vw;
  
}

.titulo{
  color: rgb(250, 249, 249);
  font-size: 30px;
  font-weight: 100px;
  font-family:'Lucida Sans',  sans-serif;
  margin-left: 10%;
}

.topoCentro { 
  display: flex;
  justify-content: space-around;
  align-items: center;



}
.logo {
  margin-top: 15px;
  width: 80px;
}

.topoLista {
  display: flex;
  justify-content: center;
  list-style: none;
}

.topoListaItem {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 200px;
  cursor: pointer;
  color: rgb(250, 249, 249);
  font-family: "Lucida Sans", sans-serif;
  
}
